<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Lyrics Search</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src='main.js'></script>
</head>
<body>
  <div class="container">
    <div class="card mt-2 mb-2">
      <div class="card-body">
          <h2><%= data.art.name %></h2>
          <h5><%= data.mus[0].name %></h5>
          <pre><%= data.mus[0].text %></pre>
      </div>
    </div>
    <a href="/" class="btn btn-outline-dark">Buscar outra letra</a>
    <br>
  </div>
</body>
</html>